<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!--Public ip 46.33.236.84, Loopback 127.0.0.1-->
    <add key="IP" value="127.0.0.1"/>
    <add key="UDP-PORT" value="57650"/>
    <add key="TCP-PORT" value="57651"/>
  </appSettings>
</configuration>